#search
  height 40px
  margin 0

#search p
  margin 28px 0
  padding 0
  text-align right

input.gsc-search-button.gsc-search-button-v2
	box-sizing content-box

.gsc-search-box.gsc-search-box-tools
    max-width 368px
    float right