doctype html
html(lang='en')
  head
    title Troy Kershaw's Feed
    meta(http-equiv='REFRESH', content='0;url=/atom.xml')
  body
    Redirecting you to the feed. If it doesn't work,
    a(href='/atom.xml') click here.