---
layout: default
---
:markdown
	### See the connections to your machine for a specific ip
	`netstat -n | findstr 10.105.0.117`

	### Get to a console for an Azure website
	Go to [{website-name}.scm.azurewebsites.net] then select 'Debug Console' and then 'CMD'
	To get the hostname, just type `hostname`
	
	### Globally store git credentials
	`git config --global credential.helper store`
	The next time you run a git command it will ask for your username and password, and then will never do it again!
