---
layout: default
---
h1= document.title
p.post-meta.pure-u-1
  | Posted #{document.date.toDateString()} under 
  each tag in document.tags
    - var tagClass = tag.replace(' ', '-').toLowerCase()
    span.post-tag(class="post-tag-#{tagClass}")= tag
!= content

!= getNavLinks()
    != getNavLinks()
    != getDisqus()

include includes/disqus
